################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/Bin
/src/Tale/obj
/src/Tale.Api/obj
/src/Tale.Core/obj
/samples/Test/ConsoleApp1/obj
/samples/Test/ConsoleApp1/bin/Debug/net5.0
/samples/Test/ConsoleApp1/.vs/ConsoleApp1/DesignTimeBuild
/samples/App1/bin/Debug
/samples/App1/obj
/samples/.vs/Samples/v16
/src/.vs/Tale/v16
/src/Tale.Core/bin/Debug
/src/Tale.Api/bin/Debug
/src/Tale/bin/Debug
/src/.vs/Tale/DesignTimeBuild
/samples/SampleBase/obj
/samples/SampleBase/bin/Debug/netstandard2.0
/samples/AssetPrimitives/bin/Debug/netstandard2.0
/samples/AssetPrimitives/obj
/samples/AndroidBase/bin/Debug
/samples/AndroidBase/obj
/samples/.vs/Samples/DesignTimeBuild
