################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/Bin
/src/Tale/obj
/src/Tale.Api/obj
/src/Tale.Core/obj
